@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
  font-family: inherit;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 767px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1199px) {
  .container {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.icon {
  fill: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}
.img__thumb {
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.header-border {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header-border {
    height: 60px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  display: block;
}

.logo__text {
  color: #212121;
}

.site-nav.list .current {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
.header-btn {
  border: 0;
  background: inherit;
}
.header-btn:hover, .header-btn:focus {
  fill: #2196f3;
}

.modal-mob {
  padding: 48px 40px;
  position: relative;
}
.modal-mob__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 21px 25px 0 0;
  background-color: inherit;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-mob__btn:hover, .modal-mob__btn:focus {
  fill: #2196f3;
}

.mobile-nav__list {
  margin-bottom: 302px;
}
.mobile-nav__item .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-nav__item .link:hover, .mobile-nav__item .link:focus {
  color: #2196f3;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-mob {
  margin-bottom: 64px;
}
.contact-mob__item:not(:last-child) {
  margin-bottom: 32px;
}
.contact-mob__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  color: #2196f3;
}
.contact-mob__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.social-mob {
  display: flex;
  flex-wrap: wrap;
}
.social-mob__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 450px) {
  .social-mob__item:nth-child(-n+2) {
    margin-bottom: 10px;
  }
}
.social-mob__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-mob {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 1;
  transform: translatex(0);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mob.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translatex(100%);
}

@media screen and (min-width: 767px) {
  .header-nav .logo {
    margin-right: 88px;
  }
  .site-nav {
    display: flex;
  }
  .site-nav.list .current {
    position: relative;
  }
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .current::after {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    content: "";
    background: #2196f3;
    border-radius: 2px;
  }
  .auth-nav {
    margin-left: 96px;
  }
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .nav-link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    fill: #757575;
  }
  .nav-link:hover, .nav-link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
  .nav-icon {
    margin-right: 10px;
  }
  .header-btn {
    display: none;
  }
}
@media screen and (min-width: 1199px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
  .auth-nav {
    display: flex;
    margin-left: auto;
  }
  .auth-nav__item:not(:last-child) {
    margin-right: 30px;
  }
  .auth-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}
.footer__title {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.logo-footer {
  margin-bottom: 20px;
  display: block;
}
.logo-footer__text {
  color: #ffffff;
}

.address {
  font-style: normal;
  margin-bottom: 60px;
}
.address__list:not(:last-child) {
  margin-bottom: 8px;
}
.address__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}
.address__nav {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__nav:focus, .address__nav:hover {
  color: #2196f3;
}

.footer-social__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 60px;
}
.footer-social__icon {
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:focus, .footer-social__link:hover {
  background-color: #2196f3;
}

.description-form__email {
  min-width: calc(100% - 30px);
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description-form__email:focus {
  border-color: #2196f3;
  outline: none;
}
@media screen and (min-width: 480px) {
  .description-form__email:focus {
    width: 450px;
  }
}

.footer-btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  border: 0;
  min-width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn__icon {
  margin-left: 10px;
}
.footer-btn:hover, .footer-btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer__box {
    display: flex;
    justify-content: space-between;
  }
  .description-form {
    width: 470px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1199px) {
  .footer {
    text-align: left;
  }
  .footer__list {
    display: flex;
    align-items: baseline;
  }
  .footer__box {
    display: flex;
    align-items: baseline;
  }
  .footer__logo {
    margin-right: 70px;
    width: 231px;
  }
  .footer__title {
    text-align: left;
  }
  .address {
    margin-bottom: 0;
  }
  .address__list:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-social {
    margin-right: 93px;
  }
  .footer-social__list {
    margin-bottom: 0;
  }
  .description-form {
    min-width: 570px;
    display: flex;
    height: 50px;
  }
  .description-form__email {
    min-width: 358px;
    margin-right: 12px;
  }
}
.hero {
  padding: 118px 0;
  max-width: 1600px;
  width: 100%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
}
.hero__text {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
}
.hero__btn {
  padding: 10px 32px;
  border: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 216px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 1199px) {
  .hero {
    padding: 200px 0;
    height: 600px;
  }
  .hero__text {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.our-activity__list {
  display: flex;
  gap: 30px;
}

.our-activity, .benefits {
  background-color: #ffffff;
}

.our-activity__title, .clients__title, .team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.benefits__item {
  max-width: 450px;
}
.benefits__subdject {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__img {
  width: 270;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.benefits__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.team {
  background-color: #f5f4fa;
}
.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}

.team-thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-thumb__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.team-thumb__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-social__list {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}
.team-social__link {
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social__link:focus, .team-social__link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.clients__item {
  height: 92px;
  width: calc((100% - 30px) / 2);
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}

@media screen and (min-width: 767px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  .benefits__item {
    max-width: 354px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .benefits__subdject {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767px) {
  .team__item {
    width: 354px;
  }
}

@media screen and (min-width: 767px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  .clients__item {
    height: 92px;
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1199px) {
  .benefits__list {
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.our-activity {
  padding-bottom: 94px;
}
.our-activity__item {
  width: calc((100% - 60px) / 3);
}
.our-activity__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
}
.our-activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .our-activity {
    display: none;
  }
}

@media screen and (min-width: 1199px) {
  .team__list {
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .team__item {
    width: 270px;
  }
}

@media screen and (min-width: 1199px) {
  .clients__list {
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
}

.portfolio-bg {
  background-color: #ffffff;
}

.portfolio-btn__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.portfolio-btn__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}
.portfolio-btn__filter {
  padding: 6px 22px;
  border: 0;
  min-width: 73px;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  display: block;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn__filter:focus, .portfolio-btn__filter:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.exmpls__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.exmpls__item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 450px;
}
.exmpls__link {
  color: inherit;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exmpls__link:hover, .exmpls__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.exmpls__block {
  padding: 20px 24px;
}
.exmpls__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.exmpls__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.exmpls-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  padding: 63px 24px;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exmpls-thumb__text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}
.exmpls__item:hover .exmpls-thumb {
  transform: translatey(0);
  opacity: 1;
}

@media screen and (min-width: 767px) {
  .portfolio-btn__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 767px) {
  .portfolio-btn__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 767px) {
  .exmpls__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1199px) {
  .exmpls__item {
    width: 370px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: calc(100% - 30px);
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1199px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__title {
  display: inline-block;
  text-align: center;
  margin-bottom: 12px;
  height: 23px;
  font-size: 20px;
  line-height: 1.15;
  -moz-columns: #212121;
       columns: #212121;
}
.modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 8px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-form {
  display: block;
  width: 100%;
}
.modal-form__control {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__contact {
  height: 40px;
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__contact:focus {
  border-color: #2196f3;
  outline: none;
}
.modal-form__contact:focus + .form-icon {
  fill: #2196f3;
}
.modal-form__comment {
  height: 120px;
  width: 100%;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment:focus {
  border-color: #2196f3;
  outline: none;
}
.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn {
  padding: 10px 52px;
  border: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188ce8;
}

.modal-checkbox {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.modal-checkbox__text {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  padding-left: 24px;
}
.modal-checkbox__text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox__agreement:checked + .modal-checkbox__text .modal-checkbox--check {
  opacity: 1;
}
.modal-checkbox__agreement:checked + .modal-checkbox__text::before {
  opacity: 0;
}
.modal-checkbox__link {
  text-decoration: underline;
  color: #2196f3;
}
.modal-checkbox--check {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 16px;
  height: 16px;
  opacity: 0;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */