.header-border {
    border-bottom: 1px solid #ececec;
    @media screen and (max-width:767px)
    {&{height: 60px;
  }}
  }
  .header-nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
  .logo {
    color: $logo;
    font-family: $ff-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    display: block;
  }
  .logo__text {
    color: $main-text;
  }
  .site-nav {
    &.list .current {
      color: $accent-text;
    }
    @media screen and (max-width:767px){
      &{
        display: none;
      }
    }}
@media screen and (max-width:767px) {
  .auth-nav{
    display: none;
  }
}
.header-btn{
  border: 0;
  background: inherit;
  &:hover,
    &:focus {
      fill: $accent-text;
    }
}
.modal-mob{
  padding: 48px 40px;
  position: relative;
  &__btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 21px 25px 0 0;
  
    background-color: inherit;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__btn:hover,
  &__btn:focus {
    fill: $accent-text;
  }
}
.mobile-nav{
  &__list{
margin-bottom: 302px;
  }
  &__item .link{
font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: $main-text;
  }
  &__item .link:hover,
  &__item .link:focus{
    color: $accent-text;
  }
  
  &__item:not(:last-child){
    margin-bottom: 32px;
  }
}
.contact-mob{
  margin-bottom: 64px;
  &__item:not(:last-child){
    margin-bottom: 32px;
  }
  &__tel{
    font-weight: 500;
font-size: 34px;
line-height: 1.18;
color: $accent-text;
  }
  &__mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $second-text;
  }
}
.social-mob{
  display: flex;
  flex-wrap: wrap;
  &__item:not(:last-child){
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);}
    @media screen and (max-width:450px){
      &__item:nth-child(-n+2) {
        margin-bottom: 10px;
      }
  }
  &__link{
    font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: $accent-text;
  }
}
.menu-mob{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $main-bg;
    opacity: 1;
    transform: translatex(0);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transform: translatex(100%);
  }
}

    