.hero {
    padding: 118px 0;
    max-width: 1600px;
    width: 100%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $first-section-bg;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero@2x.jpg);
  }
    &__text {
      margin-bottom: 30px;
      margin-right: auto;
      margin-left: auto;
      color: $main-bg;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      max-width: 360px;
    }
    &__btn {
      padding: 10px 32px;
      border: 0;
      margin-right: auto;
      margin-left: auto;
      min-width: 216px;
      background: #2196f3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: $main-bg;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      text-align: center;
      letter-spacing: 0.06em;
      display: block;
      transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__btn:hover,
    &__btn:focus {
      background-color: $active-btn;
    }
  }
  