  @media screen and (min-width: 767px) and (max-width: 1199px) {
    .footer{
        &__box{
        display: flex;
        justify-content: space-between;
        }
    }
    .description-form {
        width: 470px;
        margin-right: auto;
        margin-left: auto;}
  }

  