body {
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.btn {
  cursor: pointer;
  font-family: inherit;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.icon {
  fill: inherit;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.img {
  display: block;
  width: 100%;
  height: auto;
  &__thumb {
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
}
