
.portfolio-bg {
  background-color: $second-section-bg;
}
.portfolio-btn {
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__filter {
    padding: 6px 22px;
    border: 0;
    min-width: 73px;
    background: $third-section-bg;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    display: block;
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__filter:focus,
  &__filter:hover {
    background: $accent-text;
    color: $main-bg;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
.exmpls {
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__item {
    background: $main-bg;
    border: 1px solid #eeeeee;
    width: 370px;
  }
  &__link {
    color: inherit;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__block {
    padding: 20px 24px;
  }
  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  &__text {
    color: $second-text;
    font-size: 16px;
    line-height: 1.88;
  }
}
.exmpls-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  padding: 63px 24px;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &__text {
    font-size: 18px;
    line-height: 1.56;
    color: $main-bg;
  }
  .exmpls__item:hover & {
    transform: translatey(0);
    opacity: 1;
  }
}
